## Data Science Tools and Ecosystem

#In this notebook, Data Science Tools and Ecosystem are summarized.

#Some of the popular languages that Data Scientists use are:
1 Python
2 R
3 C++

#Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. matplotlib

|Data Science Tools|
|:--------------------:|
|TensorFlow|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python
### Addition
result_add = 10 + 5
print(f"10 + 5 = {result_add}") # Output: 10 + 5 = 15

### Subtraction
result_sub = 10 - 5
print(f"10 - 5 = {result_sub}") # Output: 10 - 5 = 5

### Multiplication
result_mul = 10 * 5
print(f"10 * 5 = {result_mul}") # Output: 10 * 5 = 50

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by dividing by 60
int(200/60)

3

**Objectives**
- Python
- R
- C++

## Author 
## Vince